*.fastq.gz
*.sam
*.bam
*.bai
xmul-TABQ-V-22-M_v2023.1_forgabe_XY.dict
xmul-TABQ-V-22-M_v2023.1_forgabe_XY.fasta
xmul-TABQ-V-22-M_v2023.1_forgabe_XY.fasta.amb
xmul-TABQ-V-22-M_v2023.1_forgabe_XY.fasta.ann
xmul-TABQ-V-22-M_v2023.1_forgabe_XY.fasta.bwt
xmul-TABQ-V-22-M_v2023.1_forgabe_XY.fasta.fai
xmul-TABQ-V-22-M_v2023.1_forgabe_XY.fasta.pac
xmul-TABQ-V-22-M_v2023.1_forgabe_XY.fasta.sa
*.vcf
